$btn__color: #FF3E79;
$label-before__color:#41F6D7;
$scroller__item__hover:#B8FFEC;

$body__bg__color:#f8f8f8;

$modal__bg__color: rgba(255, 255, 255, 0.8);
$modal__content__bg__color:#fff;
$aside__bg__color:#fff;
$read-more__btn__color:#f8f8f8;
$price-swiper__btn__bg__color:#f8f8f8;
$pagination-bullet__bg__color:#DDDDDD;
$pagination-bullet__hover__bg__color:#B5B6BC;
$swiper-slide__bg__color:#fff;
$order-button__bg__color:#FF3E79;

$price-swiper__legend__color:#7E7E82;
$price-swiper__color:#1B1C21;
$ahead__text__color:#7E7E82;
$aside__focused-text:#7E7E82;
$aside__text__Color:#1B1C21;
$main__text__color:#1B1C21;
$footer__text__color:#7E7E82;
$modal__input__color:#B5B6BC;
$modal__privacy-policy__color:#7E7E82;
$modal__send-btn__color:#fff;


